* {
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #f6f7f9;
}

#navbar {
    background-color: #f6f7f9;
    position: sticky;
    top: 0;
}

#navbar_options { 
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: rgb(0, 0, 0) solid 2px;
    height: 100px;
    justify-content: space-around;
}

#navbar_title {
    text-decoration: none;
    font-style: italic;
    padding-top: 5px;
    font-size: 80px;
    font-weight: 700;
    text-shadow: 2px 2px black;
}

li {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Arial";
}

.bar a {
    display: flex;
    text-decoration: none;
    padding-top: 25px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 30px;
    height: 100px;
}

.bar a:hover {
    /* opacity: 0.5; */
    border-top: 4px solid #663399;
}

#searchbar {
    display: flex;
    text-decoration: none;
    padding-top: 25px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 30px;
    height: 50px;
    text-align: center;
  }

#main_section {
    margin: 5px;
    padding: 5px;

}

#welcometext{
    margin: 5px;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    border: 3px solid black;
    color: yellow;
    background-image: url(backgroundimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    /* padding: 50px 20px 300px; */
}

#welcometext h1 {
    padding: 200px;
    text-shadow: 2px 2px grey;
    font-weight: 200;
    text-align: center;
    font-size: 80px;
}
#missionheader h1{
    text-align: center;
}

#communityserviceheader {
    text-align: center;
}

#communityserviceheader {
    font-size: 20px;
}

#missionstatement {
    padding-bottom: 20px;
    padding-top: 20px;
}

#missiontext p{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
}

#virtualopportunities {
    text-align: center;
}

#virtualopportunities p{
    padding: 15px;
}

#IrlOpportunities {
    text-align: center;
}

#IrlOpportunities p {
    padding: 15px;
}

.button {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #663399;
  }
  
  .button1:hover {
    background-color: #663399;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #663399;
  }
  
  .button2:hover {
    background-color: #663399;
    color: white;
  }
  
  #slogan {
    display: flex;
    text-align: center;
    background-color: #008CBA;
    border: #008CBA solid 2.5px;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  #slogan img{
      width: 90px;
      height: 90px;

  }

  #opportunities { 
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
}
 
